$lightBackground : #fff;
$lightShade: #efefef;
$lightText: #3F3F3F;
$lightSubText: #919191;

$darkBackground : #404040;
$darkShade: rgb(17,17,17);
$darkText: #fff;
$darkSubText: #efefef;

$accentColor: #42b549;
$highlightColor: #38D843;


%elevate{
    transition: all 200ms ease-in-out;
    &:hover{
        transform: scale(1.05);
        -webkit-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.2);
        transform: translateY(-5px);
        cursor: pointer;
    }
}

%input{
    font-family: 'Literata', serif;
        border-width: 0px;
        background: transparent;
        margin-top: 0px;
        padding-left: 10px;

        transition: all 100ms ease-in-out;
        &:focus{
            outline-color: transparent;
            outline-style: auto;
            outline-width: 0px;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-left-width: 2px;
        }
}

.pages{
    padding: 10px 10% 30px 10%;
    min-height: 100vh;
    font-family: 'Literata', serif;
}
.post-list{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 30px;
}
.card{
    @extend %elevate;
    
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    

    .card-header{
        border-width: 0px 0px 1px 0px;
        border-color: $lightShade;
        border-style: solid;
        padding-bottom: 5px;


        span{
            font-size: .78em;
        }
        h3{
            font-size: .88em;
        }
    }

    .card-content{
        color: $lightSubText;
        p{
            font-size: .78em;
        }
    }
    .card-footer{
        color: $lightSubText;
        font-size: .68em;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        .icon, .icon.hover{
            margin-right: 3px;
            margin-bottom: -1px;
            transition: all 300ms ease-in-out
        }
        .icon{
            color: rgb(230, 74, 74);
            font-size: 1em;
        }

        .icon.hover{
            font-size: 0px;
        }

        .likes:hover .icon.hover{
            font-size: 1em;
        }
        .likes:hover .icon{
            font-size: 0px;
        }
    }

}

.header{
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    a{
       display: inline-block;
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
        &:visited{
            text-decoration: none;
        }
    }

    .link{
        font-size: .78em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        a{
            @extend %elevate;
            margin-right: 20px;
        }
        span{
            margin-bottom: -4px;
            transition: all 400ms cubic-bezier(0.47, 0, 0.745, 0.715);
        }

        .react-switch{
            margin-left: 5px;
            margin-bottom: -3px;
        }
    }
    
}

.action-button{
    @extend %elevate;
    font-size: .78em;
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: $accentColor;
}

.post-detail{
    border-radius: 10px;
    padding: 20px 30px;

    h1{
        font-size: 2em;
        margin-top: 0px;
    }

    .extra{
        margin-bottom: 30px;
        padding-bottom: 10px;
        border-width: 0px 0px 1px 0px;
        border-color: $lightShade;
        border-style: solid;

        span{
            margin-right: 10px;
            font-size: .78em;
        }
    }
    
    .text{
        font-size: .88em;
    }

    .title-input{
        @extend %input;
        font-size: 2em;
        width: 90%;
        margin-bottom: 20px;
    }
    .author-input{
        @extend %input;
        font-size: .78em;
        width: auto;
    }
    .post-textarea{
        @extend %input;
        font-size: .88em;
        width: 100%;
        min-height: 300px;
        
    }


}

.button{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    padding: 16px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2px;
    color: $darkText;
    background-color: $accentColor;
    font-size: 1.1em;
    transition: all 400ms ease-in-out;
    border-width: 0px;
    
    &:hover{
        cursor: pointer;
        background-color: $highlightColor;
        
    }
}
.button.extend{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.input-bar{
    display: flex;
    flex-direction: row; 
    .input{
        width: 25vw;
        min-width: 140px;
        padding: 16px 20px;
        background-color: $lightShade;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        color: $lightText;
        border-width: 0;
        transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
        font-size: 1.1em;
        color: $lightText;
        &:focus{
            outline-width: 0;
        }
    }
    .input.collapsed{
        width:0px!important;
        min-width:0px!important;
        padding: 10px 0px;
        overflow: hidden;
    }
}


// THEME STYLE

.pages[data-theme = "light"]{
    background: $lightShade;
}
.pages[data-theme = "dark"]{
    background: $darkShade;
    background: linear-gradient(324deg, rgba(17,17,17,1) 0%, rgba(64,64,64,1) 100%);
}
.card[data-theme="light"]{
    background: $lightBackground;
    color: $lightText;
}

.card[data-theme="dark"]{
    background: $darkBackground;
    color: $darkText;
}

.header[data-theme="light"]{
    color: $lightText;
    a, a:hover, a:visited{
        color: $lightText;
    }

    
}

.header[data-theme="dark"]{
    color: $darkText;
    a, a:hover, a:visited{
        color: $darkText;
    }

}
.post-detail[data-theme="light"]{
    background: $lightBackground;
    color: $lightText;

    .title-input, .author-input, .post-textarea{
        color: $lightText;
        border-color: $lightShade;
    }
    .extra{
        color: $lightSubText;
    }
}

.post-detail[data-theme="dark"]{
    background: $darkBackground;
    color: $darkText;

    .title-input, .author-input, .post-textarea{
        color: $darkText;
        border-color: $lightShade;
    }

    .extra{
        color: $darkSubText;
    }
}
